
# 安装源
# registry=

# 针对公司内部作用域 (例如 @mycorp/xxx) 走私有源
# @mycorp:registry=https://npm.your-company.com/

# 忽略脚本
# Default: false  默认值：false
# Type: Boolean  类型：布尔值
# If true, npm does not run scripts specified in package.json files.
# 如果为真，npm 将不会运行 package.json 文件中指定的脚本。
# |
# Note that commands explicitly intended to run a particular script, such as npm start, npm stop, npm restart, npm test, and npm run will still run their intended script if ignore-scripts is set, but they will not run any pre- or post-scripts.
# 请注意，明确旨在运行特定脚本的命令（例如 npm start 、 npm stop 、 npm restart 、 npm test 和 npm run 如果设置了 ignore-scripts ，仍会运行其预期的脚本，但不会运行任何 pre- 或 post-scripts。
#
# 禁止在安装过程中自动运行包内的脚本 防范恶意 postinstall 脚本的核心手段
# 如果某个包需要编译 可临时通过命令行开启
ignore-scripts=true

# 允许 Git
# Default: "all"  默认值：“全部”
# Type: "all", "none", or "root"
# 类型：'全部'、'无' 或 '根'
# Limits the ability for npm to fetch dependencies from git references. That is, dependencies that point to a git repo instead of a version or semver range. Please note that this could leave your tree incomplete and some packages may not function as intended or designed.
# 限制 npm 从 Git 引用中获取依赖项的能力。也就是说，限制依赖项指向 Git 仓库而不是版本或语义化版本范围。请注意，这可能会导致依赖树不完整，并且某些包可能无法按预期或设计运行。
# |
# all allows any git dependencies to be fetched and installed. none prevents any git dependencies from being fetched and installed. root only allows git dependencies defined in your project's package.json to be fetched installed. Also allows git dependencies to be fetched for other commands like npm view
# all 允许获取并安装所有 Git 依赖项。`none` none 阻止获取并安装任何 Git 依赖项。`root` 仅允许获取并安装项目 package.json 文件中定义的 Git 依赖项。此外，它还允许为其他命令 root 例如 npm view 获取 Git 依赖项。
#
# 限制 npm 从 Git 引用中获取依赖项的能力
# Git dependencies—direct or transitive—can include .npmrc files that override the git executable path. This enables arbitrary code execution during install even when using --ignore-scripts. The new --allow-git flag gives you explicit control over this behavior.
# Git 依赖项 (直接依赖或传递依赖) 可以包含覆盖 Git 可执行文件路径的 .npmrc 文件。即使使用 --ignore-scripts ，这也会导致在安装过程中执行任意代码
allow-git=none

# 最小释放年龄
# Default: null  默认值：null
# Type: null or Number
# 类型：null 或 数字
# If set, npm will build the npm tree such that only versions that were available more than the given number of days ago will be installed. If there are no versions available for the current set of dependencies, the command will error.
# 如果设置了此选项，npm 将构建 npm 树，仅安装指定天数之前可用的版本。如果当前依赖项没有可用版本，则命令会出错。
# |
# This flag is a complement to before, which accepts an exact date instead of a relative number of days.
# 这个标志是对 before 的补充，它接受一个确切的日期，而不是相对的天数。
# |
# This config cannot be used with: before
# 此配置不能与以下情​​况一起使用： before
#
# 延迟安装最新发布的版本 (天数)
min-release-age=7

# 精确保存
# Default: false  默认值：false
# Type: Boolean  类型：布尔值
# Dependencies saved to package.json will be configured with an exact version rather than using npm's default semver range operator.
# 保存到 package.json 中的依赖项将使用确切的版本进行配置，而不是使用 npm 的默认语义版本范围运算符。
#
# For critical dependencies, prefer exact ("1.2.3") or tilde ("~1.2.3") over caret ("^1.2.3").
# 对于关键依赖项，请优先使用精确值（ “1.2.3” ）或波浪号（ “~1.2.3” ），而不是插入符号（ “^1.2.3” ）。
save-exact=true

# 引擎检查 如果 Node.js 版本不符合 package.json 要求，直接报错停止安装
engine-strict=true
