/**
 * navBar.css
 *
 * 导航栏样式
 * ----------------------------------------------------------------------------- */

:root {
    /* 导航栏 首页 */
    .VPNavBar {
        background-color: rgba(0, 0, 0, 0);
        /* backdrop-filter: blur(10px); */
    }
    .VPNavBar::before {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(10px);
    }

    /* 导航栏 文档 */
    .VPNavBar:not(.home) {
        background-color: rgba(0, 0, 0, 0);
        /* backdrop-filter: blur(10px); */
    }
    .VPNavBar:not(.home)::before {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(10px);
    }

    /* 移动端 大纲栏 */
    .VPLocalNav  {
        background-color: rgba(0, 0, 0, 0);
        /* backdrop-filter: blur(10px); */
    }
    .VPLocalNav::before  {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(10px);
    }
}