
/* 外部web 分包的字体 */

/* "Maple Mono NF CN" */
@import url("__LmgzsDocs_STATIC_ASSET_SERVER__/public/fonts/maple/MapleMono-NF-CN-Regular/result.css");





/* 注册 */

/* azuki */
@font-face {
    font-family: 'azuki_font';
    src: url('__LmgzsDocs_STATIC_ASSET_SERVER__/public/fonts/azuki/azuki_font.ttf') format('truetype');
}

@font-face {
    font-family: 'uzura_font';
    src: url('__LmgzsDocs_STATIC_ASSET_SERVER__/public/fonts/azuki/uzura_font.ttf') format('truetype');
}



/* Maple Mono */
/* 
@font-face {
    常规体
    font-family: 'Maple Mono';
    src: url('__LmgzsDocs_STATIC_ASSET_SERVER__/public/fonts/maple/MapleMonoNL-Regular.ttf.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    斜体
    font-family: 'Maple Mono';
    src: url('__LmgzsDocs_STATIC_ASSET_SERVER__/public/fonts/maple/MapleMonoNL-Italic.ttf.woff2') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    粗体
    font-family: 'Maple Mono';
    src: url('__LmgzsDocs_STATIC_ASSET_SERVER__/public/fonts/maple/MapleMonoNL-Bold.ttf.woff2') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    粗斜体
    font-family: 'Maple Mono';
    src: url('__LmgzsDocs_STATIC_ASSET_SERVER__/public/fonts/maple/MapleMonoNL-BoldItalic.ttf.woff2') format('truetype');
    font-weight: bold;
    font-style: italic;
}
 */





/* 使用 */

/* layout:home name:"标题" */
.VPHomeHero .name {
    font-family: uzura_font;
}

/* 代码块 */
.vp-doc code {
    font-family: 'Maple Mono NF CN';
}
